Nombre: {{ NOMBRE }} Apellido: {{ APELLIDO }}
División: {{ DIVISION }}
Fecha: {{ ansible_date_time.date }}
—-------------------------
Distribución: {{ ansible_distribution }}
Cantidad de Cores: {{ ansible_processor_cores }}
